<%= @league.name %>
<% Team.all.each do |team| %>
  <%= team.name %>

  <% if @owned_teams.include?(team) %>
    <div>
      <%= "Owned by: #{team.owner_email}" %>
    </div>
  <% end %>
  <% if policy(@league).admin? %>
    <%= link_to 'Assign Team', new_league_ownership_path(@league, team_id: team.id) %>
  <% end %>
<% end %>
