label.form-labels {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 100;
  color: $DODGER_BLUE;
}

a.devise-link {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 100;
  color: $DODGER_BLUE;
}

div.card-header.form-title {
  color: $USAFA_BLUE;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
